@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital@0;1&display=swap');

.his {
  display: flex;
  margin:0 0% 0 9%;
  width:90%;
  margin-bottom: 3%;
}

.hisimg4 {
  display: flex;
  margin:0 0% 0 18.5%;
    width:70%;
  margin-bottom: 3%;
}

.hisimg5 {
  display: flex;
  margin:0 0% 0 18%;
    width:70%;
  margin-bottom: 3%;
}

.hisimg6 {
  display: flex;
  margin:0 0% 0 28%;
    width:70%;
  margin-bottom: 3%;
}

.hisimg {
  display: flex;
  margin:0 0% 0 9%;
  width:85%;
  margin-bottom: 3%;
}

.hisimg7 {
  display: flex;
  margin:0 0% 0 23%;
  width:70%;
  margin-bottom: 3%;
}

.hisimg11 {
  display: flex;
  margin:0 0% 0 23%;
  width:70%;
  margin-bottom: 3%;
}

.his-img {
  width: 35%;
}

.hiss-img {
  width: 35%;
}

.his-img4 {
  width: 40%;
}

.his-img5 {
  width: 40%;
}

.his-img6 {
  width: 25%;
}

.his-img7 {
  width: 29%;
}

.his-img11 {
  width: 35%;
}


.his-titletext {
  display: block;
  margin-left: 4%;
  width: 40%;
  font-family: 'Roboto Condensed', sans-serif;
}

.his-title {
  font-family: 'Ubuntu', sans-serif;
}
a.buttonns {
   width: 80%;
}

.vozr {width: 80%;
margin-left: 10%;}
.vozr-h1 {
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
}
.vozr-h2 {
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
}

.hist1-title {
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
}

.hist1-text {
  font-family: 'Roboto Condensed', sans-serif;
  width: 64%;
  margin-left: 18%;
  text-align: center;
}
.hist1-img1-div {
  width: 100%;
}
.hist1-img1 {
  display: block;
  margin-left: auto;
  margin-right: auto;

  width: 56%;
}
.hist-gallery {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 56%;
  height: 25%;
  margin-bottom: 5%;
}

.hist2-strel {
  display: flex;
  justify-content: center;
  align-content: space-between;
  align-items: center;
}

.hist2-imgtriple {
  display: flex;
  justify-content: center;
  align-content: space-between;
  align-items: center;
}
.hist2-imgtripletwo {
  display: flex;
  justify-content: center;
  align-content: space-between;
  align-items: center;
}

.hist2-img1 {
  height: 160px;
  padding-left: 3%;
}
.hist2-img2 {
  width: 35%
}

.avd_div{margin:0px;padding:0;text-align:center;display:block;}
 .bucn_2_s{text-decoration:none;outline:none;display:inline-block;padding:12px 40px;margin:10px 20px;font-family:'Montserrat', sans-serif;font-size:24px;font-weight:300;color:#fff;transition:.5s;-webkit-border-radius:30px;-moz-border-radius:30px;-o-border-radius:30px;border-radius:30px;background-position:100% 0;background-size:200% 200%;text-shadow:0 1px 1px #555;-webkit-box-shadow:0 0 2px #333;-moz-box-shadow:0 0 2px #333;-o-box-shadow:0 0 2px #333;box-shadow:0 0 2px #333;background-color:#002878;background-image:linear-gradient(45deg, #002878 0%, #33d9de 50%, #002878 100%);background-image:-o-linear-gradient(45deg, #002878 0%, #33d9de 50%, #002878 100%);background-image:-moz-linear-gradient(45deg, #002878 0%, #33d9de 50%, #002878 100%);background-image:-webkit-linear-gradient(45deg, #002878 0%, #33d9de 50%, #002878 100%);background-image:-ms-linear-gradient(45deg, #002878 0%, #33d9de 50%, #002878 100%);}
 .bucn_2_s:hover{-webkit-box-shadow:0 0 4px #333;-moz-box-shadow:0 0 4px #333;-o-box-shadow:0 0 4px #333;box-shadow:0 0 4px #333;background-position:0 0;}
 .bucn_2_s:hover,.bucn_2_s:active,.bucn_2_s:focus{color:#fff;text-shadow:0 1px 2px #333;}
 *::before, *::after{box-sizing:border-box;}

.mySlides-fade { height: 1%; }

.hist-3-1 {
  margin-left: 3%; 
}

.hist3-img2 {
  margin-left: 3%;
}

.hist16-img1 {
  height: 300px;
  padding-left: 3%;
}

.hist16-img2 {
  height: 330px;
  padding-left: 3%;
}

.mus1-img1 {
  height: 340px;
  margin-left: 3%;
  margin-bottom: 2%;
}

.nop1-1-img {
  height: 210px;
  padding-left: 3%;
}
.nop1-4-1-img {
  height: 210px;
  padding-left: 1%;
}
.nop1-4-img {
  height: 320px;
  padding-left: 1%;
}

.nop1-6-img {
  width: 25%
}

.nople3-1 {
  width: 27%
}

.nople3-2 {
  margin-left: 1%;
  width: 22%
}
.yoursite {
  margin-left: auto;
}
@media (max-width: 1102px) {
.his-img7 {
  width: 35%;
}
}
@media (max-width: 952px) {
.his-titletext {
  width: 55%;
}
}
@media (max-width: 940px) {
  .his {
    width:90%;
    margin:0 0% 0 7%;
}
.hisimg6 {
  display: flex;
  margin:0 0% 0 25.3%;
  width:70%;
  margin-bottom: 3%;
}
}
  .his-img {
      width: 42%;
  }

@media (max-width: 851px) {
.his {
  display: flex;
  margin-left: 6%;
  width:90%;
  margin-bottom: 3%;
}
.mus1-img1 {
  height: 220px;
  margin-left: 3%;
  margin-bottom: 2%;
}
.hist16-img1 {
  height: 200px;
  padding-left: 3%;
}

.hist16-img2 {
  height: 240px;
  padding-left: 3%;
}
}
@media (max-width: 840px) {
.his {
  margin-left: 0;
  width:100%;
}
.hisimg6 {
  display: flex;
  margin:0 0% 0 18%;
  width:80%;
  margin-bottom: 3%;
}
.his-titletext {
  display: block;
  margin-left: 2%;
}
}
@media (max-width: 810px) {
.his {
  margin-left: 0;
}
}
@media (max-width: 775px) {
.his {
  margin-left: 0;
  width:100%;
}}
@media (max-width: 755px) {
.his {
  display: block;
  width:100%;
  margin:0 25% 0 20%;
}
.his-img {
  margin:0 25% 0 10%;
  width: 40%;
}
.hiss-img {
  margin:0 25% 0 5%;
  width: 40%;
}
.his-img4 {
  margin:0 25% 0 18%;
}
.his-img5 {
  margin:0 25% 0 18%;
}
.his-img6 {
  margin:0 25% 0 18%;
}
.his-img7 {
  margin:0 25% 0 18%;
}
.his-img8 {
  margin:0 25% 0 9%;
}
.his-img11 {
  width: 30%;
  margin-left: 10%;
  text-align: center;
}
.his-titletext {
  margin:0 0% 0 0%;
}
.his-text {
  text-align: center;
}


a.buttonns {
   font-size: 8px;
}
}

@media (max-width: 738px) {
.his-title {
  text-align: center;
}}
@media (max-width: 700px) {
.his-img {
  margin:0 25% 0 10%;
}

.hiss-img {
  margin:0 25% 0 10%;
}

.his-titletext {
  width: 60%;
}

.his-title {
  font-family: 'Ubuntu', sans-serif;
}
}
@media (max-width: 612px) {
  .bucn_2_s {
    margin: 1px;
    padding: 0.1px 20px;
  }
}
@media (max-width: 546px) {
.his {
  display: block;
  margin:0 25% 0 25%;
  width:90%;
  margin-bottom: 3%;
}

.his-img {
  margin: 0 auto;
  width: 50%;
}

.hiss-img {
  margin: 0 auto;
  width: 50%;
}

.his-titletext {
  display: block;
  margin-left: 4%;
  width: 44%;
  font-family: 'Roboto Condensed', sans-serif;
}
.his-title {
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
}
.his-text {
  text-align: center;
}
.hist2-imgtriple {
  display: block;
  width: 50%; 
  margin-left: auto;
  margin-right: auto;
}

.hist2-imgtripletwo {
  display: block;
  width: 100%; 
  margin-left: 32%;
}
.hist2-img1 {
  margin-left: auto;
  margin-right: auto;
}
.hist2-imgtwo {
  margin-left: 30%;
}
.hist2-imgtwoone {
  margin-left: 6%;
}
}
@media (max-width: 529px) {
.his-img {
  margin: 0 auto;
  width: 50%;
}

.hiss-img {
  margin: 0 auto;
  width: 50%;
}

.his-title {
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  font-size: 10px;
}
.his-text {
  text-align: center;
  font-size: 8px;
}

.vozr-h1 {
  font-size: 10px;
}
.vozr-h2 {
  font-size: 8px;  
}
}

@media (max-width: 500px) {
  .hist2-imgtriple {
    margin-left: 15%;
  }
}

@media (max-width: 370px) {
  .hist2-imgtriple {
    margin-left: 10%;
  }
}

@media (max-width: 270px) {
  .hist2-imgtriple {
    margin-left: 5%;
  }
}


















